/* styles.css
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* Your custom CSS rules go here */
.table {
  margin-left: 600px;
  margin-top: 10px;
  padding: 2px 20px;
  border: "1px solid #ccc";
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px 18px;
}
